<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="margin:0 auto;text-align: center">
        <ul style="list-style-type: none;margin: 0;padding: 0">
            <li>
                近期天气预报
            </li>
            <li>今天 晴天 4-15 162 中度污染</li>
            <li>明天 晴天 4-15 162 中度污染</li>
            <li>后天 晴天 4-15 162 中度污染</li>
        </ul>
        <img src='http://image.wufazhuce.com/Fh0XS7aucYI1BxpNDyJ6QBV9BQS-' alt=''>
        <p>我们总是忘了事情是怎么开始的，却执着于控制它结束的方式。“事情不应该这么结束”，于是千千万万段感情继续着，以奇形怪状的式样。</p>
    </div>
</body>
</html>